* {
   box-sizing: border-box;
   margin: 0px;
}

/* Header */

   .cabeca{

      z-index: 10;

      background-color: rgb(255, 188, 18);

      top: 0px;
      left: 0px;
      right: 0px;

      position: sticky;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      justify-content: space-between;

   }
   .logo {

      display: flex;
      margin-left: 5%;
      /* background-color: #d003; */
      align-items: center;

   }
   .menu {
   
      margin-right: 10%;
   
      display: grid;
   
      grid-template-columns: auto auto auto auto;

      grid-gap: 5%;

      align-items: center;
   
      justify-items: center;
   
      width: 40%;

   }
   .menu a{

      color: black;

      padding: 10%;

      text-decoration: none;

      /* background-color: #00d3; */

      text-align: center;

      /* text-wrap: nowrap; */

      font-family: Arial bold, Helvetica, sans-serif;

      font-size: small;

   }
   @media(max-width: 550px){
      .cabeca{
         display: grid;
         align-items: center;
         justify-content: center;

      }
      .logo{
         width: auto;
         justify-content: center;
         margin: 0px;
      }

      .menu{
         width: 100%;
         margin-bottom: 5px;
         margin-right: 0px;
      }
      .cabeca img{
         height: 50px;
      }
   }

/* Imagens grandonas com texto */

   .img1 {
      position: relative;
      right: 0px;
   }
   .dentro-img1 {
      position: absolute;
      top: 25%;

      justify-items: center;
   
   }
   .dentro-img1 h2{
      color: white;
      margin-left: 10%;
      margin-right: 10%;
      text-align: center;
      font-size: 37px;
   }
   .dentro-img1 p{
      color: white;
      margin: 5%;
      margin-left: 15%;
      margin-right: 15%;
      text-align: center;
      
      font-size: 30px;
   }
   .dentro-img1 button{
      color: black;
      background-color: rgb(255, 188, 18);
      border: none;
      border-radius: 3px;
      padding: 5%;
      
   }