* {
   box-sizing: border-box;
   margin: 0px;
}

/* Header */

   .cabeca{

      z-index: 10;

      background-color: rgb(255, 188, 18);

      top: 0px;
      left: 0px;
      right: 0px;

      position: sticky;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      justify-content: space-between;

   }
   .logo {

      display: flex;
      margin-left: 5%;
      /* background-color: #d003; */
      align-items: center;

   }
   .menu {
   
      margin-right: 10%;
   
      display: grid;
   
      grid-template-columns: auto auto auto auto;

      grid-gap: 5%;

      align-items: center;
   
      justify-items: center;
   
      width: 40%;

   }
   .menu a{

      color: black;

      padding: 10%;

      text-decoration: none;

      /* background-color: #00d3; */

      text-align: center;

      /* text-wrap: nowrap; */

      font-family: Arial bold, Helvetica, sans-serif;

      font-size: small;

   }
   @media(max-width: 580px){
      .cabeca{
         display: grid;
         align-items: center;
         justify-content: center;

      }
      .logo{
         width: auto;
         justify-content: center;
         margin: 0px;
      }

      .menu{
         width: 100%;
         margin-bottom: 5px;
         margin-right: 0px;
      }
      .cabeca img{
         height: 50px;
      }
   }

/* Imagem 1 */

   .img1 {
      
      position: relative;
      right: 0px;

   }
   .img1 img{

      width: 100%;

   }
   .dentro-img1 {
      position: absolute;
      top: 18%;

      justify-items: center;
   
   }
   .dentro-img1 h2{

      color: white;
      margin-left: 10%;
      margin-right: 10%;
      text-align: center;
      font-size: 2.2vw;
   }
   .dentro-img1 p{
      color: white;
      margin: 5vw;
      margin-left: 13%;
      margin-right: 13%;
      text-align: center;
      
      font-size: 2vw;
   }
   .dentro-img1 button{
      color: black;
      background-color: rgb(255, 188, 18);
      border: none;
      border-radius: 4px;
      padding: 5%;
      width: 25vw;
      font-size: 1.5vw;
      margin-top: 10%;
      
   }
   .dentro-img1 button:active{
      background-color: rgb(200, 144, 0);
   }
   .dentro-img1 button:hover{
      cursor: pointer;
   }
   @media(max-width: 700px){

      .dentro-img1{
         top: 15%;
      }

      .dentro-img1 h2{
         font-size: 5vw;
         margin-left: 8%;
         margin-right: 8%;
      }
      .dentro-img1 p{
         font-size: 4vw;
         margin-left: 10%;
         margin-right: 10%;
      }
      .img1 img{
         height: 80vw;


      }
      .dentro-img1 button{

         width: 50vw;
         font-size: 4vw;
         margin-top: 0px;
         
      }

   }      

/* Imagem 2 */
   .img2{
      
      position: relative;
      right: 0px;
      bottom: 5px;

   }
   .img2 img{
      width: 100%;
   }
   .dentro-img2{
      position: absolute;
      display: grid;
      top: 18%;

      grid-auto-columns: 1fr 1fr;

      grid-template-areas: 
      'h2 paragrafos'
      ;

   }
   .dentro-img2 h2{
      grid-area: 'h2';
      
      color: white;
      font-size: 3vw;
      justify-self: center;

      background-color: rgba(240, 248, 255, 0.417);
   }
   .img2-paragrafos{
      grid-area: 'paragrafos';

      margin-right: 10%;

      display: grid;

      justify-content: space-between;
      height: 40vw;

      color: white;
      text-align: left;
      font-size: 1.8vw;

      text-align: justify;

      background-color: rgba(240, 248, 255, 0.417);
   }

   .linguica{
      height: 8000px;
   }